.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.todo-entrylist {
  padding: 0;
  margin: 0;
  display: inline-flex;
  list-style: none;
  margin-top: 35px;
}
.todo-entrylist li {
  background: #ddd;
  padding: 25px;
  margin-right: 15px;
  position: relative;
  width: 150px;
  border-radius: 5px;
}

.todo-entrylist li .done,
.todo-entrylist li .remove {
  position: absolute;
  top: -10%;
}
.todo-entrylist li .done {
  left: 20%;
}
.todo-entrylist li .remove {
  right: 20%;
}
